<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="hexaGonalClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <hexaGonalClient.Properties.Settings>
            <setting name="Player1Color" serializeAs="String">
                <value>200 138 14</value>
            </setting>
            <setting name="Player2Color" serializeAs="String">
                <value>8 93 207</value>
            </setting>
            <setting name="Player1Name" serializeAs="String">
                <value>Player 1</value>
            </setting>
            <setting name="Player2Name" serializeAs="String">
                <value>Player 2</value>
            </setting>
            <setting name="botConfLoc" serializeAs="String">
                <value>cfg/botConfig.txt</value>
            </setting>
            <setting name="difficulty" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="gameLen" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="maxGameLen" serializeAs="String">
                <value>21</value>
            </setting>
        </hexaGonalClient.Properties.Settings>
    </userSettings>
</configuration>